<section id="free-trial">
    <div class="container">
        <h2 class="text-white">Un outil simple, ergonomique et efficace</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2 leaves">
                <img src="https://image.noelshack.com/fichiers/2023/46/7/1700432015-image-a-remplacer-1.png" alt="Vidéo : Un outil simple, ergonomique et efficace" class="img-fluid">
            </div>
        </div>
        <div class="text-center">
            <a href="#" target="_blank" class="btn btn-primary mt-50 px5 py5 fs-14" aria-label="Essayer gratuitement">Essayer gratuitement</a>
        </div>
    </div>
</section>