<section>
    <div class="container">
        <h2 class="text-center mb-4">100% Compatible Iphone, Android et tablettes !</h2>
        <h3 class="text-center grey mb-4">N'importe où et n'importe quand en profitant des avantages du cloud (100% SaaS)</h3>
        <img src="https://image.noelshack.com/fichiers/2023/46/7/1700430592-image-a-remplacer.png" alt="100% Compatible Iphone, Android et tablettes !" class="w-full">
        <div class="device-icon">
            <img src="https://i.goopics.net/6xx4iz.png" alt="Icône Windows" class="w-full">
            <img src="https://i.goopics.net/x8gcl8.png" alt="Icône Apple" class="w-full">
            <img src="https://i.goopics.net/24pbjh.png" alt="Icône Android" class="w-full">
        </div>
    </div>
</section>