<section class="opinion">
    <div class="container">
        <h2 class="text-center mb-4">Nos témoignages</h2>
        <div class="row">
            <div class="col-sm-3">
                <div class="header">
                    <h3>Avis 1</h3>
                </div>
                <div class="body">
                    <img src="https://i.goopics.net/abnrte.png" alt="Avatar de l'avis 1">
                    <img src="https://i.goopics.net/lcq2uv.png" alt="Icône 5 étoiles">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet congue odio, non lobortis nisl gravida in.”</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="header">
                    <h3>Avis 2</h3>
                </div>
                <div class="body">
                    <img src="https://i.goopics.net/abnrte.png" alt="Avatar de l'avis 1">
                    <img src="https://i.goopics.net/tzbr9e.png" alt="Icône 4,5 étoiles">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet congue odio, non lobortis nisl gravida in.”</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="header">
                    <h3>Avis 3</h3>
                </div>
                <div class="body">
                    <img src="https://i.goopics.net/abnrte.png" alt="Avatar de l'avis 1">
                    <img src="https://i.goopics.net/tzbr9e.png" alt="Icône 4,5 étoiles">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet congue odio, non lobortis nisl gravida in.”</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="header">
                    <h3>Avis 4</h3>
                </div>
                <div class="body">
                    <img src="https://i.goopics.net/abnrte.png" alt="Avatar de l'avis 1">
                    <img src="https://i.goopics.net/2avrrz.png" alt="Icône 4 étoiles">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed laoreet congue odio, non lobortis nisl gravida in.”</p>
                </div>
            </div>
        </div>
    </div>
</section>