<section class="trust px-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-y">
                <h2>Ils nous font confiance</h2>
                <p class="my-50">Nos clients témoignent. Plus de 1500 entreprises nous confient la dématérialisation de leur gestion de facture et de devis au quotidien.</p>
                <a href="https://www.google.com/search?q=esgi&oq=esgi&gs_lcrp=EgZjaHJvbWUqDAgAEEUYOxixAxiABDIMCAAQRRg7GLEDGIAEMgcIARAAGIAEMg0IAhAuGK8BGMcBGIAEMgcIAxAAGIAEMgcIBBAAGIAEMgYIBRBFGDwyBggGEEUYPDIGCAcQRRg80gEHNzA0ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8#lrd=0x47e6720d9c7af387:0x5891d8d62e8535c7,3,,,," class="btn btn-primary" aria-label="Accéder aux avis"><i class="fa-brands fa-google"></i>&nbsp;&nbsp;Accéder aux avis</a>
            </div>
            <div class="col-md-6 center-y mt-5 mt-md-5">
                <img src="https://image.noelshack.com/fichiers/2023/46/7/1700430492-bloc-de-droite.png" alt="Avis Google 3.9/5 sur 185 avis">
            </div>
        </div>
    </div>
</section>