<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffffff" />

        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="application-name" content="Fast Invoice" />
        <meta name="apple-mobile-web-app-title" content="Fast Invoice" />
        <meta name="author" content="Fast Invoice : Ilyes KABRINE, Léo GUIRADO, Ali KHELIFA & Ilyesse HAMCHERIF" />

        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />

        <link rel="canonical" href="" />
        
        <link rel="icon" type="image/x-icon" href="https://image.noelshack.com/fichiers/2023/46/7/1700429800-favicon.png" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% include "blocks/navbar.html.twig" %}

        {% block body %}{% endblock %}

        <br>
        {% for type, flashMessages in app.flashes %}
            {% for message in flashMessages %}
                {{ type }} - {{ message }} <br>
            {% endfor %}
        {% endfor %}

        {% include "blocks/footer.html.twig" %}
    </body>
</html>
