{% extends 'base.html.twig' %}

{% block title %}Fast Invoice: Gestion de devis et factures pour équipements médicaux{% endblock %}
{% block og_title %}Fast Invoice: Gestion de devis et factures pour équipements médicaux{% endblock %}
{% block description %}Optimisez la gestion de vos devis et factures d'équipements médicaux avec Fast Invoice. Une solution fiable et adaptée à vos besoins qui simplifie la vie.{% endblock %}
{% block og_description %}Optimisez la gestion de vos devis et factures d'équipements médicaux avec Fast Invoice. Une solution fiable et adaptée à vos besoins qui simplifie la vie.{% endblock %}
{% block keywords %}Fast Invoice{% endblock %}

{% block body %}
    <header id="jumbotron" class="px-4">
        <div class="container lg:p-10 p-4">
            <div class="flex lg:flex-row flex-col">
                <div class="lg:w-1/2 w-full flex flex-column justify-center items-center p-0">
                    <h1 class="mb-3 lg:text-left text-center">Simplifier vous le travail avec Fast Invoice</h1>
                    <p class="lg:text-left text-center py-4">Gestion de devis et facture dans le secteur des équipements
                        médicaux.​</p>
                    <div class="btn-wrapper mt-1 text-center">
                        <a href="#" class="btn btn-primary" aria-label="Essayer gratuitement">Essayer gratuitement</a>
                        <a href="{{ path("app_contact") }}" class="btn btn-outline-primary"
                           aria-label="Nous contacter pour une démonstration de notre logiciel Fast Invoice">Nous
                            contacter</a>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full flex lg:justify-start justify-center" id="jumbotron_anim">
                    <div id="anim_replacement" class="mt-5">
                        <img src="https://i.goopics.net/ti1udv.png" alt="Simplifier vous le travail avec Fast Invoice"
                             class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="px-4">
        <div class="container lg:p-10 p-4">
            <h2 class="text-center mb-10">Des outils indispensables adaptés pour tous vos besoins</h2>
            <div class="flex flex-col lg:flex-row lg:items-center justify-center lg:gap-8">
                <div class="lg:w-1/3 w-full lg:mt-5 flex justify-center">
                    <img src="https://i.goopics.net/qot7im.png"
                         alt="es outils indispensables adaptés pour tous vos besoins" class="img-fluid">
                </div>
                <div class="lg:w-1/3 w-full mt-10 lg:mt-0 flex flex-col items-center justify-center gap-8">
                    <h3>Devis et factures</h3>
                    <ul class="text-center lg:text-left">
                        <li>Créer un devis, une facture, un produit, un client, tout !</li>
                        <li>Les modifier, les supprimer, les archiver</li>
                        <li>Suivi de vos activités et celles de vos clients</li>
                        <li>Un outil indispensable pour toute entreprise !</li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary mt-4 px5 py5 fs-14" aria-label="En savoir plus">En savoir
                        plus</a>
                </div>
            </div>
            <p class="text-center p-8">Suivi centralisé des demandes avec accès facilité aux documents, des rapports et analyses pour une
                gestion optimale.</p>
        </div>
    </section>

    <section class="besoins px-4">
        <div class="container lg:p-10 p-4">
            <h2 class="mb-10 text-center">Un service proche de ses clients</h2>
            <div class="gap-8 flex flex-col lg:flex-row justify-center">
                <div class="lg:w-1/4 w-full">
                    <div class="w-full h-full rounded-lg lg:p-10 p-4" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.12)">
                        <div class="card-body p-0">
                            <h3 class="pb-4"><i class="fa fa-dollar-sign theme-icon"></i> Version gratuite</h3>
                            <p>Fast Invoice est utilisable gratuitement, sans limites de temps !</p>
                            <p>Vous testez ainsi sereinement pour adopter si nécessaire un pack Premium en toute
                                confiance. Cette version gratuite vous offrira un aperçu détaillé de Fast Invoice.</p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 w-full">
                    <div class="w-full h-full rounded-lg lg:p-10 p-4" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.12)">
                        <div class="card-body p-0">
                            <h3 class="pb-4"><i class="fa fa-users theme-icon"></i> Utilisateurs illimités</h3>
                            <p>Avec les formules Premium le nombre d'utilisateurs est illimité et sans surcoût !</p>
                            <p>Ne vous souciez plus du nombre de licences accordées, avec Fast Invoice vous créez et
                                supprimez vos utilisateurs au gré de l'évolution de votre structure.</p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/4 w-full">
                    <div class="w-full h-full rounded-lg lg:p-10 p-4" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.12)">
                        <div class="card-body p-0">
                            <h3 class="pb-4"><i class="fa fa-phone theme-icon"></i> Service client de qualité</h3>
                            <p>Nous sommes fiers de fournir un service pour traiter chaque demande avec réactivité.</p>
                            <p>Avec notre <a href="{{ path("app_contact") }}">formulaire de contact</a>, vous aurez une
                                réponse en moins de 24 heures ouvrées. Nous avons une ligne directe et une FAQ
                                disponible sur notre site.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "front/blocks/trust.html.twig" %}

    <section class="besoins px-4">
        <div class="container lg:p-10 p-4">
            <h2 class="m-10 text-center">Tous vos besoins dans un seul logiciel</h2>
            <div class="row card-row gap-8 flex justify-center">
                <div class="lg:w-1/3 w-full mb-3">
                    <div class="w-full h-full rounded-lg lg:p-10 p-4" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.12)">
                        <div class="card-body p-0">
                            <h3 class="pb-4"><i class="fa fa-dollar-sign theme-icon"></i> Statistiques avancées</h3>
                            <p>Dans chaque module de Fast Invoice, profitez de statistiques détaillées pour optimiser la
                                productivité et les prises de décisions dans votre entreprise.</p>
                            <p>Ces chiffres vous permettront une meilleure vue de votre société et de fiabiliser vos
                                actions.</p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 w-full mb-3">
                    <div class="w-full h-full rounded-lg lg:p-10 p-4" style="box-shadow: 0px 0px 12px rgba(0,0,0,0.12)">
                        <h3 class="pb-4"><i class="fa fa-users theme-icon"></i> Import de vos données</h3>
                        <p>Configuration simple via un fichier pour importer les données de tous vos clients et
                            transactions.</p>
                        <p>Le fichier importera les données de tous vos collaborateurs (Nom, prénom, clients, email,
                            téléphone, entreprise…). Nous pouvons également vous paramétrer la solution
                            intégralement.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="px-4">
        <div class="container lg:p-10 p-4">
            <h2 class="text-left mb-10">La gestion des devis et factures : un outil indispensable</h2>
            <div class="flex flex-col lg:flex-row gap-8 lg:p-10 p-4">
                <div class="lg:w-1/2 w-full flex flex-col justify-center">
                    <img src="https://i.goopics.net/yu1yk8.png"
                         alt="La gestion des devis et factures : un outil indispensable" class="img-fluid">
                </div>
                <div class="lg:w-1/2 w-full flex flex-col justify-center gap-4">
                    <h3>Fast Invoice est la solution idéale</h3>
                    <ul>
                        <li>- Créer et suivre les devis et factures en ligne</li>
                        <li>- Accéder rapidement aux informations financières</li>
                        <li>- Suivre les paiements et effectuer des relances automatiques</li>
                        <li>- Exporter les données vers la comptabilité</li>
                    </ul>
                    <h3>Un outil dédié aux collaborateurs :</h3>
                    <ul>
                        <li>- Enregistrez et facturez vos heures de travail</li>
                        <li>- Planifiez et suivez les entretiens liés aux transactions</li>
                        <li>- Gérez les commandes de vos clients en toute simplicité</li>
                        <li>- Planifiez des alertes liées aux transactions</li>
                    </ul>
                    <p>Fast Invoice s’adapte à vos cas particuliers: Facturation horaire possible, suivi des commandes,
                        alertes personnalisées.</p>
                    <a href="#" class="btn btn-outline-primary mt-4 px5 py5 fs-14" aria-label="Essayer gratuitement">Essayer
                        gratuitement</a>
                </div>
            </div>
        </div>
    </section>

    <section class="px-4">
        <div class="container lg:p-10 p-4">
            <h2 class="text-center mb-8">Simplifier la gestion de vos notes de frais</h2>
            <h3 class="text-left mb-4">Dématérialiser la gestion de vos factures</h3>
            <p>Sur mobile ou sur PC, créer en 1 clic vos devis et factures. En quelques secondes, notre solution reconnait les caractères de votre document.</p>
            <ul class="mb-5">
                <li>- L’administrateur est alerté de cette demande</li>
                <li>- Il valide ou refuse le document crée</li>
                <li>- L’utilisateur peut suivre en ligne l’état d’avancement de sa demande</li>
            </ul>
            <div class="flex flex-col lg:flex-row gap-8 lg:p-10 p-4">
                <div class="lg:w-1/2 w-full">
                    <img src="https://i.goopics.net/rs042s.png"
                         alt="La gestion des devis et factures : un outil indispensable" class="w-full h-full">
                </div>
                <div class="lg:w-1/2 w-full">
                    <img src="https://i.goopics.net/sajlax.png"
                         alt="La gestion des devis et factures : un outil indispensable" class="w-full h-full">
                </div>
            </div>
        </div>
    </section>

    {% include "front/blocks/device-compatibility.html.twig" %}

    {% include "front/blocks/opinion.html.twig" %}

{% endblock %}